<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="m-5">
      <h1 class="text-center w-100 f-3">Inicio de sesión</h1>
      <div class="text-center my-5">
        <img src="../../../../assets/img/imglogin.png" alt="fondo" class="w-50 "> 
  
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" nema placeholder="******" formControlName="password">
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Entrar</button>
      </div>
  
      <!-- [disabled]="loginForm.invalid" -->
    </div>
  
  </form>

  <div class="m-5">
    <div class="text-center">
      <button class="btn btn-primary m-1" type="submit" (click)="primary()">Primary</button>
      <button class="btn btn-warning m-1" type="submit" (click)="warning()">Warning</button>
      <button class="btn btn-success m-1" type="submit" (click)="success()">Success</button>
      <button class="btn btn-danger m-1" type="submit" (click)="danger()">Danger</button>
    </div>

  </div>
   
