.input{
    background-color: #f0f0f0;
    font-weight: bold;
}

.inputfile{
    background-color: #f0f0f0;
}

.btn{
    background-color: #6f1c73;
    height: 50px;
}

::placeholder {
    font-weight: normal;
}
